<div class="author-container-space"></div>
<section class="author-bio">
    <div class="container">
            <div class="author-info">
                <div class="author-info-left">
                    <img src="<%- page.author.image %>" class="author-image" alt="<%- page.author.name %>">
                    <%- author_academies(page.author.name) %>
                </div>
                <div class="author-info-right">
                    <span class="author-profession author-profession-badge"><%- page.author.level %></span>
                    <h1 class="author-name border border-large border-light"><%- page.author.name %></h1>
                    <div class="author-joined">Active contributor since <%- date(page.author.joined, 'MMMM Do, YYYY') %></div>
                    <div class="author-description"><%- page.author.desc %></div>
                    <ul class="author-socials">
<!--                        <% if (page.author.socials.site) { %><li><a href="<%- page.author.socials.site %>" target="_blank" rel="nofollow noopener" class="author-social-icon author-social-icon-www"></a></li><% } %>-->
                        <% if (page.author.socials.linkedin) { %><li><a href="<%- page.author.socials.linkedin %>" target="_blank" rel="nofollow noopener" class="author-social-icon author-social-icon-github"></a></li><% } %>
                        <% if (page.author.socials.twitter) { %><li><a href="<%- page.author.socials.twitter %>" target="_blank" rel="nofollow noopener" class="author-social-icon author-social-icon-twitter"></a></li><% } %>
                        <% if (page.author.socials.github) { %><li><a href="<%- page.author.socials.github %>" target="_blank" rel="nofollow noopener" class="author-social-icon author-social-icon-linkedin"></a></li><% } %>
                    </ul>
                </div>
            </div>
    </div>
    <div class="author-motto">
        <div class="container"><%- page.author.motto %></div>
    </div>

    <div class="author-skills">
        <div class="container">
            <h2>Skills and achievements</h2>
            <%- author_contribution_level(page.author.name) %>
            <div class="pills">
                <% page.author.specs.forEach(function(spec) {  %>
                    <div class="pill pill-<%- spec %>" data-spec="<%- spec %>"><%- spec %> Expert</div>
                <% }) %>
            </div>
        </div>
    </div>

    <div class="author-stats-wrapper">
        <div class="container">
            <div class="author-stats">
                <div class="author-stat">
                    <span class="author-stat-count">⭐ ️<%- page.author.completedCourses %></span>
                    <span class="author-stat-text">Courses Completed</span>
                </div>
                <div class="author-stat">
                    <span class="author-stat-count"><%- page.author.postsCount %></span>
                    <span class="author-stat-text">Blog articles</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="author-posts">
            <h3 class="border border-light border-large">Author's articles</h3>
            <%- partial('partial/posts', {posts: page.author.posts}) %>
        </div>
    </div>
</section>
