<div class="authors">
    <div class="container">
        <div class="authors-target">
            <div class="authors-target-info">
                <h2 class="authors-header border border-light border-large">Who are we?</h2>
                <p>We have been operating in the market for x years. During this time we have built a global community with the goal of continuous improvement.
                    The technology industry is looking for talented people and offers plenty of opportunities. Trust us. We know how it works.</p>
            </div>
            <div class="authors-reviews">
                <div class="authors-reviews-number">(385 reviews)</div>
                <img src="<%- url_for('/img/authors-reviews-trustpilot.png') %>" alt="">
            </div>
        </div>
    </div>
    <div class="authors-figures-wrapper">
        <div class="container">
            <div class="authors-figures">
                <div class="authors-figure">
                    <span class="authors-figure-number">3</span>
                    <span class="authors-figure-text">in the Google results list</span>
                </div>
                <div class="authors-figure">
                    <span class="authors-figure-number">823</span>
                    <span class="authors-figure-text">Completed Courses</span>
                </div>
                <div class="authors-figure">
                    <span class="authors-figure-number">7M</span>
                    <span class="authors-figure-text">participants' articles</span>
                </div>
                <div class="authors-figure">
                    <span class="authors-figure-number">+6,118</span>
                    <span class="authors-figure-text">Subscribers</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="authors-join-us">
            <h2>Join us and make a difference in <span>just one month!</span></h2>
            <p>Choose the option that suits you best. Remember - we are open to you and your suggestions.</p>
        </div>
    </div>
    <div class="authors-boxes-wrapper">
        <div class="container">
            <div class="author-boxes">
                <div class="author-box">
                    <h3>Become an expert</h3>
                    <p>Are you ready to improve your competence every day and bring help to others to make a difference in their careers? Buy the perfect course for you, improve your skills, look for new solutions, write articles, teach others.</p>
                    <p>Sound interesting?</p>
                    <div class="author-box-actions">
                        <a href="/" class="button button-secondary">Join us via DM</a>
                        <a href="/" class="button button-primary">See available courses</a>
                    </div>
                </div>
                <div class="author-box">
                    <h3>Join the team by writing articles</h3>
                    <small>special offer for students</small>
                    <p>Are you a pupil or student and can't afford our course? Are you a young, ambitious person and want to share your knowledge with other people? We know how it is...</p>
                    <p>Fill out the form and we will get back to you!</p>
                    <div class="author-box-actions">
                        <a href="/" class="button button-success">Apply via form</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="author-list-wrapper">
            <h3 class="authors-list-header">Meet our <span>Elite Editorial Team</span></h3>
            <div class="pills">
                <div class="pill" data-spec="all">All Experts</div>
                <% config.authors_specs.forEach(function(spec){ var specName; %>
                <% if (spec === 'nodejs') { specName = 'NodeJS' } else { specName = spec } %>
                <div class="pill pill-<%- spec %> pill-inactive" data-spec="<%- spec %>"><%- specName %> Expert</div>
                <% }) %>
            </div>
            <div class="authors-list">
                <% page.authors.forEach(function(author){ %>
                    <article class="author">
                        <header class="author-header">
                            <img src="<%- author.image %>" alt="<%- author.name %>">
                            <a href="/authors/<%- author.slug %>" class="author-header-link">
                                <h3 class="author-name"><%- author.name %></h3>
                            </a>
                            <%- author_academies(author.name) %>
                            <!-- Do not remove below author specs. They are hidden and needed for filtering -->
                            <div class="author-specs">
                                <% author.specs.forEach(function(spec){ %><span class="author-spec author-spec-<%- spec %>" title="<%- spec %> expert"></span><% }); %>
                            </div>
                        </header>
                        <div class="author-contribution">
                            <div class="author-contribution-level author-contribution-level-highlighted author-contribution-level-thin author-contribution-level-<%- author.level%>">
                                <span>Beginner</span>
                                <span>Advanced</span>
                                <span>Expert</span>
                            </div>
                        </div>
                    </article>
                <% }) %>
            </div>
        </div>
    </div>
</div>
