<div class="posts-wrapper">
    <div class="container">
        <h1 class="posts-listing-header border border-light border-large"><span>Level up</span> in Web development</h1>
        <!-- TODO Algolia search -->
        <!-- <%- partial('partial/search') %> -->
        <%- partial('partial/tags') %>
        <%
            let excludeCategory = 'Podcast';
            let posts = page.posts.filter(post => !post.categories.some(c => c.name === excludeCategory));
        %>
        <%- partial('partial/posts', {posts: posts, ph_prefix: 'post'}) %>
        <%- partial('partial/pagination') %>
        <%- partial('partial/post-idea') %>
    </div>
</div>
