<!doctype html>
<html lang="en" itemscope>
<head>
    <%- partial('partial/head/meta') %>
    <%- partial('partial/head/title') %>
    <%- partial('partial/head/fonts') %>
    <%- partial('partial/head/styles') %>
    <%- partial('partial/head/rss') %>
    <%- partial('partial/head/favicon') %>
    <%- partial('partial/head/og') %>
    <% if (is_tag() || page.thankYouPage) { %> <meta name="robots" content="noindex"> <% } %>

    <% if (config.cookie_bot)  {%>
        <script src="<%- url_for('/js/cookie-bot.js') %>"></script>
    <% } %>
</head>
<%
  var bodyClasses = '';
  if (page.thankYouPage) {bodyClasses += 'thank-you '}
  if (is_post() && config.banners.main_banner && (config.banners.main_banner === 'top' || config.banners.main_banner === 'bottom')) { bodyClasses += 'b-bar-' + config.banners.main_banner + ' '}
  if (is_post() && config.banners.article_side_banner && is_post()) { bodyClasses += 'b-article-sidebar '}
  if (is_post()) { bodyClasses += 'post-page '}
  if (is_tag()) { bodyClasses += 'tag-page ' }
  if (is_current('/')) { bodyClasses += 'index-page ' }
%>
<body class="<%- bodyClasses %>">

<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THK2B8H" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<% if (page.layout === 'landing')  {%>
    <%- body %>
<% } else { %>
    <%- partial('partial/header', {}, {caches: true}) %>
    <main>
        <% if (is_post())  {%>
            <%- partial('partial/slackbar', {}, {caches: true}) %>
        <% } %>

        <%- body %>

        <% if (is_post())  {%>
            <%- partial('partial/subscribe', {}, {caches: true}) %>
        <% } %>
    </main>

    <%- partial('partial/footer', {}, {caches: true}) %>
    <%- partial('partial/ck-form', {}, {caches: true}) %>

    <!-- temporarily inject HelloBar here -->
    <script src="https://my.hellobar.com/e6f37be779b7dad9006dc743a8219cd9b5547f98.js" data-cookieconsent="ignore" charset="utf-8" async="async"></script>

    <script src="<%- url_for('/js/main.js') %>" data-cookieconsent="ignore" defer></script>
<% } %>

<script src="<%- url_for('/js/gtm.js') %>" defer></script>
<% if (config.posthog)  {%>
    <script src="<%- url_for('/js/posthog/posthog.js') %>" data-cookieconsent="ignore" defer></script>
    <script src="<%- url_for('/js/posthog/testing/dumb-test.js') %>" data-cookieconsent="ignore" defer></script>
    <script src="<%- url_for('/js/posthog/testing/main-banner-test.js') %>" data-cookieconsent="ignore" defer></script>
<% } %>
</body>
</html>