<!doctype html>
<html lang="en" itemscope>
<head>
    <%- partial('partial/head/meta') %>
    <%- partial('partial/head/title') %>
    <%- partial('partial/head/fonts') %>
    <%- partial('partial/head/styles') %>
    <%- partial('partial/head/rss') %>
    <%- partial('partial/head/favicon') %>
    <%- partial('partial/head/og') %>
    <% if (is_tag() || page.thankYouPage) { %> <meta name="robots" content="noindex"> <% } %>
</head>
<%
  var bodyClasses = '';
  if (page.thankYouPage) {bodyClasses += 'thank-you '}
  if (config.banners.top_banner) { bodyClasses += 'b-bar-top '}
  if (config.banners.article_side_banner) { bodyClasses += 'b-article-sidebar '}
  if (is_post()) { bodyClasses += 'post-page '}
  if (is_tag()) { bodyClasses += 'tag-page ' }
  if (is_current('/')) { bodyClasses += 'index-page ' }
%>
<body class="<%- bodyClasses %>">

<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THK2B8H" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<% if (page.layout === 'landing')  {%>
    <%- body %>
<% } else { %>
    <%- partial('partial/header', {}, {caches: true}) %>
    <main>
        <% if (is_post())  {%>
            <%- partial('partial/slackbar', {}, {caches: true}) %>
        <% } %>

        <%- body %>

        <% if (is_post())  {%>
            <%- partial('partial/subscribe', {}, {caches: true}) %>
        <% } %>
    </main>

    <%- partial('partial/footer', {}, {caches: true}) %>
    <%- partial('partial/cookie-consent', {}, {caches: true}) %>
    <%- partial('partial/ck-form', {}, {caches: true}) %>

    <script src="<%- url_for('/js/main.js') %>" defer></script>
    <script src="<%- url_for('/js/gtm.js') %>" defer></script>
<% } %>
</body>
</html>