<!doctype html>
<html lang="en">
<head>
    <%- partial('partial/head/meta') %>
    <%- partial('partial/head/title') %>
    <%- partial('partial/head/fonts') %>
    <%- partial('partial/head/styles') %>
    <%- partial('partial/head/rss') %>
    <%- partial('partial/head/favicon') %>
    <%- partial('partial/head/og') %>
<!--    <script src="%- url_for('/js/gtm.js') %" defer></script>-->
</head>
<body <% if (page.thankYouPage) {%> class="thank-you" <% } %>>

<% if (page.layout === 'landing')  {%>
    <%- body %>
<% } else { %>
    <%- partial('partial/header', {}, {caches: true}) %>
    <main>
        <% if (is_post())  {%>
            <%- partial('partial/slackbar', {}, {caches: true}) %>
        <% } %>

        <div class="container">
            <%- body %>
        </div>

        <% if (is_post())  {%>
            <%- partial('partial/subscribe', {}, {caches: true}) %>
        <% } %>
    </main>

    <%- partial('partial/sidebar', {}, {caches: true}) %>
    <%- partial('partial/footer', {}, {caches: true}) %>
    <%- partial('partial/cookie-consent', {}, {caches: true}) %>
    <%- partial('partial/ck-form', {}, {caches: true}) %>

    <script src="<%- url_for('/js/main.js') %>" defer></script>
<% } %>
</body>
</html>