<div class="posts-wrapper">
    <div class="container">
        
        <div class="podcast-hero">
            <h1 class="podcast-hero-header">Dev Academy Podcast 🎙️</h1>
            <span class="podcast-hero-description">
                <%- page.content %>
            </span>
            <div class="podcast-hero-buttons">
                <a href="https://podcasts.apple.com/us/podcast/dev-academy-podcast/id1737438641" class="button button-primary apple">Apple</a>
                <a href="https://open.spotify.com/show/7cTkKecKnsb8CYg3WvnnNU" class="button button-primary spotify">Spotify</a>
                <a href="https://www.youtube.com/playlist?list=PLMjEab-Nv-KgrkNtxhqe9XhEJpngHQJyY" class="button button-primary youtube">YouTube</a>
                <a href="https://anchor.fm/s/f1fa2de0/podcast/rss" class="button button-primary rss">RSS</a>
            </div>
        </div>

        <!-- TODO Algolia search -->
        <!-- <%- partial('partial/search') %> -->

        <%
            let podcastCategory = 'Podcast';
            let podcasts = site.posts.filter(post => post.categories.some(c => c.name === podcastCategory));
        %>
        <%- partial('partial/podcasts', {posts: podcasts, ph_prefix: 'post'}) %>
        <%- partial('partial/pagination') %>
        <%- partial('partial/post-idea') %>
    </div>
</div>
