<div class="article-wrapper">
    <article class="article" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
        <header class="article-header">
            <div class="container">
                <h1 itemprop="name" class="border border-light border-small"><%- page.title %></h1>
                <link itemprop="url" href="<%- page.permalink %>">

                <div class="article-details">
                    <div class="article-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <img src="<%- url_for('/img/') %><%- post.avatar %>" class="article-avatar" itemprop="image" alt="<%- post.author %>">
                        <div class="article-author-info">
                            <a href="<%- author_url(post.author) %>" class="article-author-name"><span itemprop="name"><%- post.author %></span></a>
                            <%- author_academies(post.author) %>
                        </div>
                    </div>
                    <div class="article-meta">
                        <%- partial('partial/post/tags') %>

                        <time class="article-date" datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, null) %></time>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="article-content" itemprop="description">
                <%- page.content %>
            </div>

            <%- partial('post/share') %>
            <%- partial('post/disqus') %>

            <h2 class="border border-light">Author</h2>
            <%- author_info(post.author, post.date) %>
        </div>
    </article>

</div>
