<div class="article-wrapper">
    <article class="article" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
        <header class="article-header">
            <a href="https://dev-academy.com/web-security?blog-hero">
            <picture>
                <source srcset="<%- url_for('/img/') %>wsda.gif" media="(min-width: 768px)">
                <img src="<%- url_for('/img/') %>wsda.png" class="article-hero" itemprop="image">
            </picture>
            </a>
            <div class="container">
                <h1 itemprop="headline" class="border border-light border-small"><%- page.title %></h1>
                <link itemprop="url" href="<%- page.permalink %>">
                <div class="article-details">
                    <div class="article-contributor" itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <img src="<%- url_for('/img/contributors/') %><%- post.avatar %>" class="article-avatar" itemprop="image" alt="<%- post.contributor %>">
                        <div class="article-contributor-info">
                            <a href="<%- contributor_url(post.contributor) %>" data-ph="article-header-contributor__link_fullname" itemprop="url" class="article-contributor-name"><span itemprop="name"><%- post.contributor %></span></a>
                            <%- contributor_academies(post.contributor, 'article-header') %>
                        </div>
                    </div>
                    <div class="article-meta">
                        <%- partial('partial/post/tags') %>
                        <div class="article-date">
                            <% if (post.dateModified) {%>
                                <span>Updated</span>
                                <time datetime="<%= date_xml(post.dateModified) %>" itemprop="dateModified"><%= date(post.dateModified, null) %></time>
                            <% } else { %>
                                <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, null) %></time>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="article-content-wrapper">
            <div class="container article-content-container">
                <aside class="article-toc" id="article-toc">
                    <div class="article-toc-header">Table of contents</div>
                </aside>

                <div class="article-content" itemprop="description">
                    <%- page.content %>
                </div>
                <% if (config.banners.article_side_banner) {%>
                    <%- partial('banners/banner_article_sidebar', {post: post}) %>
                <% } %>
            </div>
        </div>

        <div class="article-footer-wrapper">
            <div class="container">
                <%- partial('post/share') %>
                <%- partial('post/disqus') %>

                <h2 class="border border-light">Contributor</h2>
                <%- contributor_info(post.contributor, post.date) %>
            </div>
        </div>
    </article>

</div>
