<div class="article-wrapper">
    <article class="article" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
        <header class="article-header">
            <h1 itemprop="name"><%- page.title %></h1>
            <link itemprop="url" href="<%- page.permalink %>">
            <div class="article-meta">
                <div class="article-details">
                    <div class="article-author" itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <img src="<%- url_for('/img/') %><%- post.avatar %>" class="article-avatar" itemprop="image" alt="Bartosz Pietrucha">
                        <span class="article-author-name"><span itemprop="name"><%- post.author %></span></span>
                    </div>
                    <time class="article-date" datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, null) %></time>
                </div>

                <%- partial('partial/post/tags') %>
            </div>
        </header>

        <div class="article-content" itemprop="description">
            <%- page.content %>
        </div>

        <footer class="article-footer">
            <%- partial('post/tags') %>
        </footer>

    </article>

    <%- partial('post/share') %>
</div>

<%- partial('post/disqus') %>
