<footer class="footer">
    <div class="footer-navigation">
        <div class="container">
            <ul class="footer-socials">
                <!-- TODO replace with Linkedin icon -->
                <!-- <li><a href="<%- url_for('/') %>" target="_blank" rel="noopener noreferrer" aria-label="Go to the facebook"><img src="<%- url_for('/img/icons/facebook-2.svg') %>" alt=""></a></li> -->
                <li><a href="https://twitter.com/bartosz_io" target="_blank" rel="noopener noreferrer" aria-label="Go to the twitter"><img src="<%- url_for('/img/icons/twitter.svg') %>" alt=""></a></li>
            </ul>
            <div class="footer-navigation-columns">
                <div class="footer-navigation-column">
                    <h4 class="border">Contact</h4>
                    <ul>
                        <li><a href="https://bartosz.io"><img src="<%- url_for('/img/icons/email.svg') %>" alt="">bartosz.io</a></li>
                        <li><a href=""><img src="<%- url_for('/img/icons/location.svg') %>" alt="">Poland</a></li>
                    </ul>
                </div>
                <div class="footer-navigation-column">
                    <h4 class="border">Academy ⭐</h4>
                    <ul>
                        <li><a href="https://websecurity-academy.com/">Web Security Academy 🛡</a></li>
                        <li><a href="https://fullstack-testing.com/">Fullstack Testing Academy 🧪</a></li>
                    </ul>
                </div>
                <div class="footer-navigation-column">
                    <h4 class="border">Courses</h4>
                    <ul>
                        <li><a href="https://courses.dev-academy.com/p/web-security-fundamentals">Web Security Fundamentals course</a></li>
                        <li><a href="https://courses.dev-academy.com/p/web-e2e-testing">FREE Web e2e testing course</a></li>
                    </ul>
                </div>
                <div class="footer-navigation-column">
                    <h4 class="border">Blog</h4>
                    <ul>
                        <li><a href="/tags/security/">Security</a></li>
                        <li><a href="/tags/architecture/">Architecture</a></li>
                        <li><a href="/tags/angular/">Angular</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-privacy">
        <div class="container">
            <div class="footer-copyright"><span class="icofont-copyright"></span><%- date(Date.now(), 'YYYY') %> Dev-Academy.com</div>
            <ul class="footer-privacy-navigation">
                <li><a href="<%- url_for('/terms') %>">Terms and Conditions</a></li>
                <li><a href="<%- url_for('/privacy') %>">Privacy</a></li>
            </ul>
        </div>
    </div>
</footer>