<header class="header">
    <div class="container">
        <div class="header-bar">
            <div class="header-title">
                <a href="<%- url_for('/') %>" class="header-logo"><img src="<%- url_for('/img/dev-academy-logo.png') %>" width="60" height="49" alt="Dev Academy Logo"></a>
                <div>
                    <a href="<%- url_for('/') %>" id="logo-text">Dev Academy</a>
                </div>
            </div>
            <button class="header-nav-toggle" aria-label="Click here to open the mobile menu">
                <img class="header-nav-toggle-menu" src="<%- url_for('/img/icons/menu.svg') %>" width="24" height="24" alt=""></span>
                <img class="header-nav-toggle-close" src="<%- url_for('/img/icons/close.svg') %>" width="24" height="24" alt=""></span>
            </button>
        </div>
        <div class="header-menu">
            <nav class="header-nav">
                <ul>
                    <li>
                        <a class="header-nav-link" href="#" rel="nofollow">Academy</a>
                        <div class="header-nav-link-content">
                            <span class="header-nav-link-header">Academy</span>
                            <ul>
                                <li>
                                    <a class="header-nav-link" href="https://fullstack-testing.com/" rel="nofollow">Web security Academy</a>
                                    <div class="header-nav-link-description">Lorem ipsum</div>
                                </li>
                                <li>
                                    <a class="header-nav-link" href="https://websecurity-academy.com/" rel="nofollow">Fullstack testing Academy</a>
                                    <div class="header-nav-link-description">Lorem ipsum</div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="header-nav-link" href="https://courses.dev-academy.com" rel="nofollow">Courses</a></li>
                    <li><a class="header-nav-link" href="<%- url_for('/blog') %>">Blog</a></li>
                    <li><a class="header-nav-link" href="<%- url_for('/authors') %>">Authors</a></li>
                    <li><a class="header-nav-link" href="https://www.youtube.com/channel/UCcJutJNPZVG5sbp_xaTmKEw" rel="nofollow">YT</a></li>
                    <li><a class="header-nav-link" href="" rel="nofollow">Insta</a></li>
                    <li><a class="header-nav-link" href="" rel="nofollow">FB</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>