<section class="posts">
    <% posts.each(function(post, i){ %>
        <article class="post">
            <div class="post-content">
                <a href="<%- post.path %>" <%- post_ph_attr(post.path, ph_prefix) %>>
                    <figure class="post-figure">
                        <picture>
                            <source srcset="<%- url_for(post.path) %>large_banner.webp" type="image/webp">
                            <img class="post-image" src="<%- url_for(post.path) %>large_banner.png" loading="lazy" alt="<%- post.title %>">
                        </picture>
                        <span class="post-reading"><%- readingTime(post.content, 'min.', 200) %></span>
                    </figure>
                    <header>
                        <h2 class="post-title"><%- post.title %></h2>
                        <div class="post-time">
                            <% if (post.dateModified) {%>
                                <span>Updated</span>
                                <time datetime="<%= date_xml(post.dateModified) %>"><%= date(post.dateModified, 'D MMMM YYYY') %></time>
                            <% } else { %>
                                <time datetime="<%= date_xml(post.date) %>"><%= date(post.date, 'D MMMM YYYY') %></time>
                            <% } %>
                        </div>
                    </header>
                </a>
                <footer>
                    <%- list_tags(post.tags, {style: 'list', show_count: false}) %>
                </footer>
            </div>
        </article>
    <% }) %>
</section>
