<section class="posts">
    <% page.posts.each(function(post, i){ %>
        <article class="post">
            <div class="post-content">
                <a href="<%- post.path %>">
                    <figure>
                        <img class="post-image" src="<%- url_for(post.path) %>small_banner.png" alt="post-banner">
                    </figure>
                    <header>
                        <h2 class="post-title"><%- post.title %></h2>
                        <time class="post-time" datetime="<%= date_xml(post.date) %>"><%= date(post.date, 'D MMM') %></time>
                    </header>
                </a>
            </div>
        </article>
    <% }) %>
</section>

<% if (page.total > 1){ %>
    <nav class="pagination">
        <%- paginator({
            prev_text: "<span class='icofont-curved-double-left'></span> Prev",
            next_text: "Next <span class='icofont-curved-double-right'></span>",
            escape: false
        }) %>
    </nav>
<% } %>
