<div class="related-posts">
    <% site.posts.each(function(post){ %>
        <% if (post.id === currentPost.relatedPost)  {%>
            <div class="related-post">
                <a href="<%- post.path %>" class="related-post-inner" data-ph="related-post__link">
                    <figure>
                        <picture>
                            <source srcset="<%- url_for(post.path) %>small_banner.webp" type="image/webp">
                            <img class="related-post-image" src="<%- url_for(post.path) %>small_banner.png" alt="<%- post.title %>">
                        </picture>
                    </figure>
                    <div class="related-post-header">
                        <span class="related-post-next">Next read</span>
                        <h4 class="related-post-title"><%- post.title %></h4>
                        <div class="related-post-meta">
                            <span class="related-post-contributor"><%- post.contributor %></span>
                            <span class="related-post-date"><time class="related-post-time" datetime="<%= date_xml(post.date) %>"><%= date(post.date, null) %></time></span>
                        </div>
                    </div>
                </a>
                <button type="button" class="icofont-close related-post-close" data-ph="related-post__close-button"></button>
            </div>
        <% } %>
    <% }) %>
</div>